@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
footer {
  .icon {
    color: grey;
  }
}
/* .star-anchor {
  anchor-name: --fav-anchor;
}
.anchored {
  position: absolute;
  position-anchor: --fav-anchor;
  top: calc(anchor(top) + 10px);
  right: calc(anchor(right) + 10px);
} */
